%form{action: "/image", method: :get}
  %p
    %label URL:
    %input{type: "url", name: "url", size: 100, value: params[:url], id: "url"}
  %p
    %label Method:
    %select{name: "method"}
      - (["original"] + EyeDetect::METHODS).each do |method|
        %option{value: method, selected: method == params[:method]} #{method}
  %p
    %label Glass:
    %select{name: "glass_id"}
      %option{value: ""} (Prease select)
      - Glass.all.each do |glass|
        %option{value: glass.id, selected: glass.id.to_s == params[:glass_id]} #{glass.name}
  %p
    %input{type: "submit"}

%hr{style: "clear: both"}
#glasses
  %ul
    - Glass.randum(5).each do |glass|
      %li
        %a{href: "#", class: "display", id: "glass_#{glass.id}", src: glass.src}
          %img{src: glass.image_url, width: 120}
          %img{src: glass.src, class: "hidden"}
#photo
  - if @photo
    %img{src: @photo.src}
  - if @glass
    #glass
      %img{src: @glass.src}
%button{id: "capture-button"} Capture
#capture
%button{id: "share-button"} Share

%br
%hr{style: "clear: both"}
#captures

- if @photo
  :coffeescript
    photo = {}
    face  = { left: #{@face.left}, width: #{@face.width} }
    eye   = { center_x: #{@eyes.center_x}, center_y: #{@eyes.center_y}}
    glass = { width: 212, height: 58 }

    console.log("face[left: " + face.left + ", width: " + face.width + "]")
    console.log("eye[center_x: " + eye.center_x + ", center_y: " + eye.center_y + "]")

    $photo = $("#photo")
    photo.top   = $photo.position()["top"]
    photo.left  = $photo.position()["left"]
    photo.width = $photo.width()
    photo.height= $photo.height()

    console.log("photo[top: " + photo.top + ", left: " + photo.left + ", width: " + photo.width + ", height: " + photo.height + "]")

    $glass = $("#glass")
    glass.width = face.width
    glass.scale = glass.width / $glass.width()
    glass.height= $glass.height() * glass.scale
    glass.top   = photo.top  + eye.center_y - glass.height * 0.4 # つるが上にはみ出ているせいで、画像高さがやや高く計算されてしまう問題の対策
    glass.left  = photo.left + face.left

    console.log("glass[top: " + glass.top + ", left: " + glass.left + ", width: " + glass.width + ", height: " + glass.height + ", scale: " + glass.scale + "]")

    $glass.css(glass)
    $glass.children("img").css(glass)
    $glass.draggable()

    $("#glasses a").click ->
      src = $(this).attr("src")
      console.log("glass change: " + src)
      $("#glass img").attr("src", src)
      $("#glass img").height($(".hidden", this).height() * glass.scale)

