:css
  #photo {
    float: left;
    width: 350px;
  }
  #glass {
    position: absolute;
    z-index: 100;
  }
  #capture-button {
    margin-left: -80px;
  }
  #capture {
    float: left;
    width: 350px;
  }

%form{action: "/up", method: :get}
  %p
    %label URL:
    %input{type: "url", name: "url", size: 100, value: params[:url], id: "url"}
  %p
    %label Method:
    %select{name: "method"}
      - (["original"] + EyeDetect::METHODS).each do |method|
        %option{value: method, selected: method == params[:method]} #{method}
  %p
    %label Glass:
    %select{name: "glass_id"}
      %option{value: ""} (Prease select)
      - Glass.all.each do |glass|
        %option{value: glass.id, selected: glass.id.to_s == params[:glass_id]} #{glass.name}
  %p
    %input{type: "submit"}
%hr
#photo
  %img{src: @photo.src}
  - if @glass
    #glass
      %img{src: @glass.src}
%button{id: "capture-button"} Capture
#capture

:coffeescript
  photo = {}
  face  = { left: #{@face.left}, width: #{@face.width} }
  eye   = { center_x: #{@eyes.center_x}, center_y: #{@eyes.center_y}}
  glass = { width: 212, height: 58 }

  console.log("face[left: " + face.left + ", width: " + face.width + "]")
  console.log("eye[center_x: " + eye.center_x + ", center_y: " + eye.center_y + "]")

  $photo = $("#photo")
  photo.top   = $photo.position()["top"]
  photo.left  = $photo.position()["left"]
  photo.width = $photo.width()
  photo.height= $photo.height()

  console.log("photo[top: " + photo.top + ", left: " + photo.left + ", width: " + photo.width + ", height: " + photo.height + "]")

  $glass = $("#glass")
  glass.width = face.width
  glass.scale = glass.width / $glass.width()
  glass.height= $glass.height() * glass.scale
  glass.top   = photo.top  + eye.center_y - glass.height * 0.4 # つるが上にはみ出ているせいで、画像高さがやや高く計算されてしまう問題の対策
  glass.left  = photo.left + face.left

  console.log("glass[top: " + glass.top + ", left: " + glass.left + ", width: " + glass.width + ", height: " + glass.height + ", scale: " + glass.scale + "]")

  $glass.css(glass)
  $glass.children("img").css(glass)
  $glass.draggable()

  urls = [
    "http://www.ku-baseball.com/member/images/shimada_k.JPG",
    "http://r-center.grips.ac.jp/gallery/pics/small/%E5%B7%9D%E4%BA%BA%E5%85%88%E7%94%9F%E3%80%80%E5%86%99%E7%9C%9F_1341895835.jpg",
    "http://www.e-agora.jp/pics/DSCF0458.JPG",
    "http://www.mhiroto.com/wp/wp-content/uploads/2013/04/33875c866013bb35553ee3ca21df107c.jpg",
    "http://www.cocomo1.net/img/face/g/bofor.jpg",
    "http://amd.c.yimg.jp/im_siggvn_KdlOusQcFenzCFlLjsA---x341-y450-q90/amd/20130411-00000020-modelp-000-1-view.jpg",
    "http://developer.cybozu.co.jp/akky/wp-content/uploads/2013/01/sIMG_20130124_031010.jpg",
    "http://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F2%2F7%2F227147%2F4025%2F387x426x6a8224a16e2d79bacd10ce2a.jpg%2F300%2F600&twidth=300&theight=600&qlt=80&res_format=jpg&op=r",
    "http://obaco.arrow.jp/img/img30_TKY200606210496.jpg",
    "http://fsimg.afloat.co.jp/fs2cabinet/gd2/gd2438/gd2438-m-01-dl.jpg",
    "http://www.asahi.com/eco/images/OSK200907100179.jpg",
    "http://dahpbpalpng0r.cloudfront.net/products/2_kadoya11-2/product/430_1_front.jpg",
  ]
  $("#url").autocomplete({source: urls})

:javascript
  $(window).ready(function() {
    $("#capture-button").click(function(){
      html2canvas($("#photo")[0], { onrendered: function(canvas){ $("#capture").append(canvas); },  logging: true });
    });
  });
